<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="LoginRegister.LogOut()" *ngIf="LoginRegister.ClientAuth||LoginRegister.AdminAuth">Cerrar Sesion</button>
      <button ion-button [navPush]="login" *ngIf="!LoginRegister.ClientAuth&&!LoginRegister.AdminAuth">Iniciar Sesion</button>
      <button ion-button [navPush]="register" *ngIf="!LoginRegister.ClientAuth&&!LoginRegister.AdminAuth"> Registrarse </button>
      <button ion-button [navPush]="Admin" *ngIf="LoginRegister.AdminAuth"> Administracion </button>
      <button ion-button [navPush]="Profile" *ngIf="LoginRegister.ClientAuth"> Ver Perfil </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content>
  <div class="About">
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="puppies">
          Puppies
        </ion-segment-button>
        <ion-segment-button value="kittens">
          Kittens
        </ion-segment-button>
        <ion-segment-button value="ducklings">
          Ducklings
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="pet">
      <ion-list *ngSwitchCase="'puppies'">
        asd
      </ion-list>
      </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">2</div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    </div>
  </div>
  <!--End main container-->
  <div class="footer-distributed">
    <div class="footer-left">

      <h3>Distribuidora
        <span>Realva</span>
      </h3>

      <p class="footer-links">
        <a href="#">Inicio</a>
        ·
        <a href="#">Productos</a>
        ·
        <a href="#">Nosotros</a>
        ·
        <a href="#">Contacto</a>
        ·
        <a href="#">Descargas</a>
      </p>

      <p class="footer-company-name">Realva &copy; 2018</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p>
          <span>
            Edificio Alvarenga, Boulevard Morazán.</span> Tegucigalpa, Honduras</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p> +(504) 2236-5531 / 2236-5902 / 2236-8719</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p>
          <a href="mailto:support@company.com">info@realva.com</a>
        </p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>Acerca de Nosotros</span>
        Empresas Productoras, Importadoras y Distribuidoras de Productos Veterinarios y Agrícolas. Las empresas manejan la representación
        de diversas líneas Veterinarias de calidad y está en proceso de comenzar la distribución de líneas de productos
        agrícolas.
      </p>

      <div class="footer-icons">

        <a href="https://www.facebook.com/RealvaHonduras/">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#">
            <i class="fa fa-youtube"></i>
          </a>
          <a href="#">
              <i class="fa fa-instagram"></i>
          </a>

      </div>
    </div>
  </div>
</ion-content>