<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="LoginRegister.LogOut()" *ngIf="LoginRegister.ClientAuth||LoginRegister.AdminAuth">Cerrar Sesion</button>
      <button ion-button [navPush]="login" *ngIf="!LoginRegister.ClientAuth&&!LoginRegister.AdminAuth">Iniciar Sesion</button>
      <button ion-button [navPush]="register" *ngIf="!LoginRegister.ClientAuth&&!LoginRegister.AdminAuth"> Registrarse </button>
      <button ion-button [navPush]="Admin" *ngIf="LoginRegister.AdminAuth"> Administracion </button>
      <button ion-button [navPush]="Profile" *ngIf="LoginRegister.ClientAuth"> Ver Perfil </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="About">
    <!--Begin main container-->
    <h1>Nosotros</h1>
    <div class="genBlock">
      <!--Begin General information block-->
      <p>
        <br>Empresas Productoras, Importadoras y Distribuidoras de Productos Veterinarios y Agrícolas. Las empresas manejan la
        representación de diversas líneas Veterinarias de calidad y está en proceso de comenzar la distribución de líneas
        de productos agrícolas. Se manejan líneas de calidad global reconocida como lo es BAYER (Alemania) y MSD (USA), y
        líneas de calidad regional reconocida como lo son las marcas INVET (Colombia), LAVET (Guatemala), LABIPHARM (Guatemala),
        GAMMA LABORATORIES (El Salvador), ERMA (Colombia), VM (Colombia) VET BRANDS (USA) y SANFER (México) entre otros.
        <br>
        <br>La empresa tiene una red de distribución a nivel de todo Honduras, con dos sucursales, una en Tegucigalpa y otra
        en San Pedro Sula, además de distribución por medio de vendedores de ruta alcanzando todo el territorio nacional.
        Además, de la distribución actual, la empresa está desarrollando proyectos para participar en el mercado regional
        de América Central con distribuciones exclusivas regionales.
        <br>
        <br>La empresa atiende las diversas especies productivas del mercado además de las especies de compañía existentes en
        la región. Existe una amplia gama de productos de la mayor calidad que sirven para atender la gran mayoría de las
        necesidades del mercado veterinario y productivo del país.
      </p>
    </div><br>
    <!--End General information block-->
    <div class="bigBlock">
      <!--Begin blocks container-->

      <div class="blocks">
        <!--Begin block (Mission) container-->
        <h2>Misión</h2>
        <p>
          Brindar al mercado agropecuario y de mascotas de Honduras y América Central productos, servicios y soluciones de alta calidad
          para el desarrollo adecuado de los animales de compañía, productos pecuarios y agro alimentarios del país, promoviendo
          y manteniendo siempre la seguridad de la comunidad como el valor primordial de la empresa.
        </p>
      </div>
      <!--End block (Mission) container-->

      <div class="blocks">
        <!--Begin block (Vision) container-->
        <h2>Visión</h2>
        <p>
          Ser una empresa líder en el mercado agropecuario y de mascotas de Honduras y América Central, siendo reconocidos como una
          empresa que represente calidad en todos los productos y servicios que brinde, manteniendo una trayectoria de servicio,
          honestidad, calidad y crecimiento intachable.
        </p>
      </div>
      <!--End block (Vision) container-->

      <div class="blocks">
        <!--Begin block (Values) container-->
        <h2>Valores</h2>
        <ul>
          <li>Honestidad</li>
          <li>Servicio</li>
          <li>Responsabilidad</li>
          <li>Transparencia</li>
          <li>Calidad</li>
          <li>Seguridad</li>
        </ul>
      </div>
      <!--End block (Values) container-->

    </div>
    <!--End blocks container-->

  </div>
  <!--End main container-->
  <<div class="footer">
  <div class="footerTop">
    <div>
      <p style="color: white;">Direccion: </p>
      <p style="color: white;">Edificio Alvarenga, Boulevard Morazan </p>
      <p style="color: white;">Contiguo Paso Desnivel Las Lomas </p>
      <p style="color: white;">Tegucigalpa, M.D.C. </p>
      <p style="color: white;">HONDURAS </p>
      <p style="color: white;"> Telefonos: +(504) 2236-5531 / 2236-5902 / 2236-8719</p>

    </div>
    <div>
      <p style="color: white;">Correos: </p>
      <p style="color: white;">info@realva.net </p>
      <p style="color: white;">info@induvet.com </p>
    </div>
    <div>
      <p style="color: white;"> Valores: </p>
      <p style="color: white;">- Honestidad</p>
      <p style="color: white;">- Servicio</p>
      <p style="color: white;">- Responsabilidad</p>
      <p style="color: white;">- Transparencia</p>
      <p style="color: white;">- Calidad</p>
      <p style="color: white;">- Seguridad</p>

    </div>
  </div>
  <div class="footerBot">
    <p>© copyright</p>
  </div>
</div>
</ion-content>
