<ion-header>
  *ngIf="LoginRegister.ClientAuth"
  <ion-navbar hide-nav-bar="false">
    <ion-buttons end>
      <button ion-button (click)="LoginRegister.LogOut()" *ngIf="LoginRegister.ClientAuth||LoginRegister.AdminAuth">Cerrar Sesion</button>
      <button ion-button [navPush]="login" *ngIf="!LoginRegister.ClientAuth&&!LoginRegister.AdminAuth">Iniciar Sesion</button>
      <button ion-button [navPush]="register" *ngIf="!LoginRegister.ClientAuth&&!LoginRegister.AdminAuth"> Registrarse </button>
      <button ion-button [navPush]="Profile" *ngIf="LoginRegister.ClientAuth"> Ver Perfil </button>
      <button ion-button [navPush]="Admin" *ngIf="LoginRegister.AdminAuth"> Administracion </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <div class="bodyHome">
    <div class="pictureCarrusel">

      <ion-slides autoplay="8000" loop="true" speed="3000" class="carrusel">
        <ion-slide>
          <img src="assets/imgs/img1.jpeg">
        </ion-slide>
        <ion-slide>
          <img id="picture" src="assets/imgs/img2.jpeg">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/img3.jpeg">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/img4.jpeg">
        </ion-slide>
      </ion-slides>
    </div>
    <div class="home_info">
      <div id="home_info1">
        <h2>Distribuidora REALVA</h2>
        <p>
          Empresas Productoras, Importadoras y Distribuidoras de Productos Veterinarios y Agrícolas. Las empresas manejan la representación
          de diversas líneas Veterinarias de calidad y esta en proceso de comenzar la distribución de líneas de productos
          agrícolas. Se manejan líneas de calidad global reconocida como lo es BAYER (Alemania) y MSD (USA), y líneas de
          calidad regional reconocida como lo son las marcas INVET (Colombia), LAVET (Guatemala), LABIPHARM (Guatemala),
          GAMMA LABORATORIES (El Salvador), ERMA (Colombia), VM (Colombia) VET BRANDS (USA) y SANFER (México) entre otros.
        </p>
      </div>
      <div id="home_info2" margin-top="4px">
        <div>
          <img src="assets/imgs/portada.jpg">

          <p>
            La empresa tiene una red de distribución a nivel de todo Honduras, con dos sucursales, una en Tegucigalpa y otra en San Pedro
            Sula, además de distribución por medio de vendedores de ruta alcanzando todo el territorio nacional. Además,
            de la distribución actual, la empresa esta desarrollando proyectos para participar en el mercado regional de
            América Central con distribuciones exclusivas regionales.
          </p>
        </div>
        <div>
          <img src="assets/imgs/portada2.jpg">

          <p>
            La empresa atiende las diversas especies productivas del mercado además de las especies de compañía existentes en la región.
            Existe una amplia gama de productos de la mayor calidad que sirven para atender la gran mayoría de la necesidades
            del mercado veterinario y productivo del país.
          </p>
        </div>
      </div>
      <hr> 
    </div>
    <div class="pictureCarrusel1">

      <ion-slides autoplay="3000" loop="true" speed="3000" class="carrusel2">

        <ion-slide>
          <img id="picture" src="assets/imgs/LOGO BAYER PEQUENO.png" alt="">
        </ion-slide>
        <ion-slide>
          <img id="picture" src="assets/imgs/LOGO INVET PEQUENO.png" alt="">
        </ion-slide>
        <ion-slide>
          <img id="picture" src="assets/imgs/LOGO LABIPHARM.jpg" alt="">
        </ion-slide>
        <ion-slide>
          <img id="picture" src="assets/imgs/LOGO LAVET PEQUENO.png" alt="">
        </ion-slide>
        <ion-slide>
          <img id="picture" src="assets/imgs/LOGO MS SCHIPPERS.jpg" alt="">
        </ion-slide>
        <ion-slide>
          <img id="picture" src="assets/imgs/logo vet brands.jpg" alt="">
        </ion-slide>
        <ion-slide>
          <img id="picture" src="assets/imgs/LOGO VM PEQUENO.jpg" alt="">
        </ion-slide>
      </ion-slides>
    </div>
    <a href="http://www.google.com/" target="_blank">
      <input type="button" value="Visit Google" />
   </a>
    <div class="footer">
      <div class="footerTop">
        <div>
          <pre style="color: white;">
              <b>
                  Direccion:

                  Edificio Alvarenga, Boulevard Morazan
                  Contiguo Paso Desnivel Las Lomas
                  Tegucigalpa, M.D.C.
                  HONDURAS
                  
                  Telefonos: +(504) 2236-5531 / 2236-5902 / 2236-8719</b>
          </pre>
        </div>
        <div>
          <pre style="color: white;">
              <b>
                  Correos:

                  info@realva.net
                  info@induvet.com
              </b>
          </pre>
        </div>
        <div>
          <pre style="color: white;">
              <b>
                  Valores:

                  - Honestidad
                  - Servicio
                  - Responsabilidad
                  - Transparencia
                  - Calidad
                  - Seguridad 
              </b>
          </pre>
        </div>
      </div>
      <div class="footerBot">
        <p>© copyright</p>
      </div>
    </div>

  </div>
</ion-content>