<ion-header>
  
  <ion-navbar hide-nav-bar="false">
    <app-header></app-header>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <div class="bodyHome">
    <div class="pictureCarrusel">

      <ion-slides class="carrusel" >

        <ion-slide *ngFor="let oferta of ofertas | async">
          <img src={{oferta.imagen}}>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="home_info">
      <div id="home_info1">
        <h2>Distribuidora REALVA</h2>
        <p>
          Empresas Productoras, Importadoras y Distribuidoras de Productos Veterinarios y Agrícolas. Las empresas
          manejan la representación
          de diversas líneas Veterinarias de calidad y esta en proceso de comenzar la distribución de líneas de
          productos
          agrícolas. Se manejan líneas de calidad global reconocida como lo es BAYER (Alemania) y MSD (USA), y líneas de
          calidad regional reconocida como lo son las marcas INVET (Colombia), LAVET (Guatemala), LABIPHARM (Guatemala),
          GAMMA LABORATORIES (El Salvador), ERMA (Colombia), VM (Colombia) VET BRANDS (USA) y SANFER (México) entre
          otros.
        </p>
      </div>
      <div id="home_info2" margin-top="4px">
        <div>
          <img src="assets/imgs/portada.jpg">

          <p>
            La empresa tiene una red de distribución a nivel de todo Honduras, con dos sucursales, una en Tegucigalpa y
            otra en San Pedro
            Sula, además de distribución por medio de vendedores de ruta alcanzando todo el territorio nacional. Además,
            de la distribución actual, la empresa esta desarrollando proyectos para participar en el mercado regional de
            América Central con distribuciones exclusivas regionales.
          </p>
        </div>
        <div>
          <img src="assets/imgs/portada2.jpg">

          <p>
            La empresa atiende las diversas especies productivas del mercado además de las especies de compañía
            existentes en la región.
            Existe una amplia gama de productos de la mayor calidad que sirven para atender la gran mayoría de la
            necesidades
            del mercado veterinario y productivo del país.
          </p>
        </div>
      </div>
      <hr>
    </div>
    <div class="pictureCarrusel1">

      <ion-slides lass="carrusel2">

        <ion-slide *ngFor="let logo of logos| async">
          <img src={{logo.imagen}}>
        </ion-slide>

      </ion-slides>
    </div>
    <a href="http://www.google.com/" target="_blank">
      <input type="button" value="Visit Google" />
   </a>
    <div class="footer">
      <div class="footerTop">
        <div>
          <p style="color: white;">Direccion: </p>
          <p style="color: white;">Edificio Alvarenga, Boulevard Morazan </p>
          <p style="color: white;">Contiguo Paso Desnivel Las Lomas </p>
          <p style="color: white;">Tegucigalpa, M.D.C. </p>
          <p style="color: white;">HONDURAS </p>
          <p style="color: white;"> Telefonos: +(504) 2236-5531 / 2236-5902 / 2236-8719</p>

        </div>
        <div>
          <p style="color: white;">Correos: </p>
          <p style="color: white;">info@realva.net </p>
          <p style="color: white;">info@induvet.com </p>
        </div>
        <div>
          <p style="color: white;"> Valores: </p>
          <p style="color: white;">- Honestidad</p>
          <p style="color: white;">- Servicio</p>
          <p style="color: white;">- Responsabilidad</p>
          <p style="color: white;">- Transparencia</p>
          <p style="color: white;">- Calidad</p>
          <p style="color: white;">- Seguridad</p>

        </div>
      </div>
      <div class="footerBot">
        <p>© copyright</p>
      </div>
    </div>

  </div>
</ion-content>
