page-product{
  .productAll{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .bodyProduct{
    height: 70%;
    width: 100%;
  }
  .productBody{
    margin-top: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .productBodyLeft{
    margin-left: 5%;
    width: 25%;
    height: 100%;
  }
  .productBodyRight{

    width: 50%;
    height: 100%;
    margin-left: 5%;
  }

  .titleProduct{
    margin-top: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .productProductos{
    margin-left: 5%;
    width: 25%;
    height: 100%;
  }
  .productCategorias{
    width: 50%;
    height: 100%;
    margin-left: 5%;
  }

  .footerTop{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #3bb522;
  }
  .footerTop div{
    margin-left: 10%;
    margin-top: 2%;
  }

  .footerBot{
    text-align: center;
    background:#1b9605;

  }
  .footer{
    margin-left: -1%;
    width: 103%;
    height: 30%;
  }

  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

}
