<!--
  Generated template for the DownloadsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>downloads</ion-title>
    <ion-buttons end>
      <button ion-button (click)="LoginRegister.LogOut()" *ngIf="LoginRegister.ClientAuth||LoginRegister.AdminAuth">
        Cerrar Sesion
      </button>
      <button ion-button [navPush]="login" *ngIf="!LoginRegister.ClientAuth&&!LoginRegister.AdminAuth">Iniciar Sesion
      </button>
      <button ion-button [navPush]="register" *ngIf="!LoginRegister.ClientAuth&&!LoginRegister.AdminAuth"> Registrarse
      </button>
      <button ion-button [navPush]="Admin" *ngIf="LoginRegister.AdminAuth"> Administracion</button>
      <button ion-button [navPush]="Profile" *ngIf="LoginRegister.ClientAuth"> Ver Perfil</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="Downloads">
    <h1>Zona de Descargas</h1>
    <ion-list id="list">
      <a href="" ion-item download>Descargar catálogo 1</a>
      <a href="" ion-item download>Descargar catálogo 2</a>
      <a href="" ion-item download>Descargar catálogo 3</a>
      <a href="" ion-item download>Descargar catálogo 4</a>
      <a href="" ion-item download>Descargar catálogo 5</a>
      <a href="" ion-item download>Descargar catálogo 6</a>
    </ion-list>
  </div>
  <div class="footer">
    <div class="footerTop">
      <div>
        <p style="color: white;">Direccion: </p>
        <p style="color: white;">Edificio Alvarenga, Boulevard Morazan </p>
        <p style="color: white;">Contiguo Paso Desnivel Las Lomas </p>
        <p style="color: white;">Tegucigalpa, M.D.C. </p>
        <p style="color: white;">HONDURAS </p>
        <p style="color: white;"> Telefonos: +(504) 2236-5531 / 2236-5902 / 2236-8719</p>

      </div>
      <div>
        <p style="color: white;">Correos: </p>
        <p style="color: white;">info@realva.net </p>
        <p style="color: white;">info@induvet.com </p>
      </div>
      <div>
        <p style="color: white;"> Valores: </p>
        <p style="color: white;">- Honestidad</p>
        <p style="color: white;">- Servicio</p>
        <p style="color: white;">- Responsabilidad</p>
        <p style="color: white;">- Transparencia</p>
        <p style="color: white;">- Calidad</p>
        <p style="color: white;">- Seguridad</p>

      </div>
    </div>
    <div class="footerBot">
      <p>© copyright</p>
    </div>
  </div>
</ion-content>
